/* This is for the header options */

@font-face {
    font-family: 'MyHeaderFont';
    src: url('./fonts/bebas.otf') format('woff2')
    /*url('./fonts/antebras.ttf')  format('truetype')*/
}

@font-face {
    font-family: 'MyBotFont';
    src:url('./fonts/HelloBoomerang.ttf')
}

html, body {
    margin: 0;
    padding: 0;
}

#landingBackground {
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: inline-block;
    float: left;
}

#powerLogo {
    margin-top: 20%;
    margin-left: calc(50% - 100px);
    width: 200px;
    height: auto;
    left: calc(50% - 100px);
    top: calc(50% - 175px);
    -webkit-filter: drop-shadow(5px 5px 5px lightgrey);
    filter: drop-shadow(5px 5px 5px lightgrey);
}

#landingMessage, #continueMessage {
    color: white;
    width: 100%;
    text-align: center;
}

#landingMessage {
    font-size: 50px;
}

#continueMessage {
    font-size: 20px;
}

/* THIS IF FOR THE MAIN PAGE OF THE WEBSITE */
#homepage {
    z-index: -1;
    position: fixed;
    width: 100%;
    height: 100%;
    background: url(./images/lightbulb-on.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#header {
    z-index: 3;
    position:fixed;
    margin: 0;
    padding:0;
    top:0;
    color: white;
    background-color: black;
    font-family: 'MyHeaderFont', Fallback, sans-serif;
    height: 80px;
    width: 100%;
    float: none;
    vertical-align: middle;
}

#headerName, #headerContact, #middleOptions {
    color: white;
    text-decoration: none;
    cursor: pointer;
    height: 100%;
    font-size: 45px;
}
#headerName {
    margin-left: 20px;
    margin-top: 20px;
    float: left;
}
#headerName:hover, #headerContact:hover {
    color:lightgray;
}
#headerContact {
    font-family: 'MyHeaderFont', Fallback, sans-serif;
    background: none;
    border: none;
    margin-right: 20px;
    margin-top: 20px;
    float: right;
}

#middleOptions {
    position: fixed;
    margin-left: calc(50% - 154px);
    height: 50px;
}

#headerItem, #dropItem {
    cursor: pointer;
    text-decoration: none;
    float: left;
    display: block;
    color: white;
    font-size: 30px;
    text-align: left;
    padding: 14px 16px;
    margin-bottom: 20px;
}

#mainTitle {
    margin-top: 300px;
    margin-left: 10%;
    color: #31BEEC;
    font-size: 65px;
}

#buttonOptions {
    margin-left: 10%;
}

#aboutMeButton, #experienceButton {
    color: white;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    border: solid;
    border-color: #31BEEC;
    padding: 10px 10px 10px 10px;
}

#experienceButton {
    margin-left: 50px;
}

#headerItem:hover {
    color: lightgray;
}
#dropDownLinkedIn {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
#dropDownEmail {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
#dropDownLinkedIn, #dropDownGithub, #dropDownEmail {
    background-color: darkgray;
    padding: 10px 10px 10px 10px;
    color: whitesmoke;
    display: block;
    text-decoration: none;
}
#dropDownLinkedIn:hover, #dropDownGithub:hover, #dropDownEmail:hover {
    color: lightgray;
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: black;
    height: 20px;
}


@media screen and (max-width: 900px){
    #middleOptions {
        display: none;
    }
    #headerContact {
        display: none;
    }
    #dropDownAll {
        position: absolute;
        /*display: inline-block;*/
        margin-right: 30px;
        margin-top: 5px;
        right: 0;
        text-decoration: none;
        cursor: pointer;
        display: block;
        color: white;
        font-size: 30px;
        text-align: left;
        padding: 14px 16px;
        /*margin-bottom: 20px;*/
    }
    #bar1, #bar2, #bar3 {
        width: 45px;
        height: 8px;
        background-color: white;
        margin: 10px 0;
        transition: 0.4s;
        border-radius: 2px;
    }
    #aboutRedirect, #expRedirect {
        background-color: darkgray;
        padding: 10px 10px 10px 10px;
        color: whitesmoke;
        display: block;
        text-decoration: none;
    }
    #aboutRedirect:hover, #expRedirect:hover {
        color: lightgray;
    }
}

#experiencePage {
    margin-top: 80px;
    background-image: -webkit-linear-gradient(black, white);
    height: 100%;
    max-height: 500px;
    width: 100%;
}
#expNames {
    float:left;
    width: calc(100% - 100px);
    margin-left: 50px;
    min-height: 100%;
    margin-bottom: 100px;
}

#expNameItem {
    text-decoration: none;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    opacity: .4;
    height: 70px;
    border-radius: 8px;
    padding-left: 20px;
    margin-right: 20px;
    margin-bottom: 55px;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    display: inline-block;
    width: 100%;
    -webkit-transition: opacity 1s;
    transition: opacity 1s;
    color: #31BEEC;
}

#expNameItemHeader {
    margin-top: 11px;
    -webkit-filter: drop-shadow(2px 2px lightgrey);
    filter: drop-shadow(2px 2px white);
}


#expNameItem:hover {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    opacity: 0.6;
    text-align: center;
}

#experiencePageHeader {
    margin-top: 50px;
    text-align: center;
    font-size: 60px;
    color: #31BEEC;
}

.experienceListWrapper {
    max-width: 100%;
    display: inline-block;
    width: 100%;
}
/* This is for the experience headers */
.experienceListHeaderLeft, .experienceListHeaderRight {
    color: #31BEEC;
    font-size: 50px;
    margin-top: 30px;
    margin-bottom: 10px;
}
/* This is for the items whose text is on the left */
.experienceListHeaderLeft, .experienceListContentLeft {
    position: absolute;
    float:left;
    width: calc(40% - 50px);
    left: 0;
    text-align: center;
    margin-left: 50px;
    display: inline-block;
}
.experienceListContentLeft {
    margin-top: 110px;
}
.experienceListContentLeft, .experienceListContentRight {
    font-size: 20px;
    line-height: 30px;
}

/* This is for the items whose text is on the right */
.experienceListHeaderRight, .experienceListContentRight {
    float: right;
    width: calc(40% - 50px);
    margin-right: 50px;
    right: 0;
    text-align: center;
    /*font-size: 20px;*/
}

/* This is for the images */
.rightImageExperience, .leftImageExperience {
    border-radius: 10px;
    opacity: 0.7;
    min-height: 400px;
    max-height: 650px;
}
.rightImageExperience {
    float: left;
    width: calc(55% - 50px);
    margin-left: 50px;
    margin-right: 10px;
    left: 0;
    display: inline;
}
.leftImageExperience {
    float: right;
    width: calc(55% - 50px);
    right:0;
    margin-right: 50px;
    margin-left: 10px;
    display: inline;
}




/*========================================================================================*/
/* This is for the contact modal */
#contactModalHeader {
    /*position: absolute;*/
    text-align: center;
    margin-top: 40px;
    margin-bottom: 0;
    left: calc(50% - 370px);
    font-size: 35px;
    color: #31BEEC;
}
#closeContactModal {
    position: fixed;
    right: 0;
    margin-right: 15px;
    cursor:pointer;
    float: right;
    border: none;
    background-color: white;
    text-decoration: none;
    font-size: 25px;
    text-align: center;
    display: inline-block;
    color: black;
}
#closeContactModal:hover {
    color: lightgray;
}

.contactForm {
    margin-top: 80px;
    display: inline-block;
    text-align: center;
}

.inputHeader {
    display: inline-block;
    text-align: center;
    width: 100%;
    font-size: 30px;
    margin-bottom: 10px;
}

.inputField, #contactMessage {
    display: inline-block;
    text-align: center;
    width: calc(100% - 100px);
    margin: 0 50px 25px 50px;
    text-decoration: none;
    border: none;
    border-bottom: solid;
    border-bottom-color: red;
    outline: none;
    font-size: 20px;
}
.inputField:focus:required:invalid, #contactMessage:focus:required:invalid {
    border-bottom-color: red;
}
.inputField:required:valid, #contactMessage:required:valid  {
    border-bottom-color: lightgreen;
}
#contactMessage {
    min-height: 50px;
}

#submitMessage {
    width: 100%;
    cursor: pointer;
    border: none;
    background-color: white;
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    display: inline-block;
    color: #31BEEC;
}

#messageStatus {
    width: 100%;
    font-size: 25px;
    text-align: center;
    display: inline-block;
    color: darkblue;
    margin-bottom: 15px;
}

/* THIS IS FOR THE ABOUT PAGE */

#aboutPage {
    margin-top: 80px;
    background-image: -webkit-linear-gradient(black, white);
    /*height: 100%;*/
    max-height: 500px;
    width: 100%;
}

#aboutTitle {
    font-size: 50px;
    height: 100px;
    text-align: center;
    color: #31BEEC;
}

#pic1 {
    /*float: left;*/
    width: calc(40% - 75px);
    margin-left: 50px;
    height: calc(200px + 10%);
}
#pic2 {
    float: right;
    margin-right: 50px;
    width: calc(60% - 75px);
    height: calc(200px + 10%);
}

/* This is the pic at the bottom */
#pic3 {
    transform: rotate(90deg);
    width: 50%;
    margin-left: 25%;
    margin-bottom: 200px;
}

.bradPics {
    border-radius: 5px;
}

#ropRow, #bottomRow, #aboutContent {
    margin-top: 0;
    margin-left: 50px;
    margin-right: 50px;
    width: calc(100% - 100px);
}

#aboutContent {
    margin-top: 100px;
    text-align: center;
    font-size: 30px;
    min-height: 300px;
    line-height: 45px;
    margin-bottom: 100px;
}



/*

@-webkit-keyframes AnimationName {
    0%{background-position:97% 0%}
    50%{background-position:4% 100%}
    100%{background-position:97% 0%}
}
@keyframes AnimationName {
    0%{background-position:97% 0%}
    50%{background-position:4% 100%}
    100%{background-position:97% 0%}
}

#botBox {
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: #0066ff;
    width: 350px;
    box-shadow: 0px 0px 70px;
    border-radius: 25px;
}

#botHeader {
    height: 50px;
    width: 100%;
    margin:auto;
    text-align: center;
    padding:5px;
    font-family: 'MyHeaderFont', Fallback, sans-serif;
    font-size: 30px;
    color: white;
}

#botContent {
    margin-left: 20px;
    margin-right: 20px;
    height: 200px;
    margin-bottom: 50px;
    background-color: white;
}

#botConversation {
    overflow-y : scroll;
    background: white;
}

#inputBox {
    position: fixed;
    bottom: 0;
    margin-bottom: 20px;
    margin-right: 20px;
}

*/