/* This is for the header options */

@font-face {
    font-family: 'MyHeaderFont';
    src: url('./fonts/bearhugs.ttf') format('woff2')
    /*url('./fonts/antebras.ttf')  format('truetype')*/
}

@font-face {
    font-family: 'MyBotFont';
    src:url('./fonts/HelloBoomerang.ttf')
}

html, body {
    margin: 0;
    padding: 0;
}

#landingBackground {
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: inline-block;
    float: left;
}

#powerLogo {
    margin-top: 20%;
    margin-left: calc(50% - 100px);
    width: 200px;
    height: auto;
    left: calc(50% - 100px);
    top: calc(50% - 175px);
    -webkit-filter: drop-shadow(5px 5px 5px lightgrey);
    filter: drop-shadow(5px 5px 5px lightgrey);
}

#landingMessage, #continueMessage {
    color: white;
    width: 100%;
    text-align: center;
}

#landingMessage {
    /*margin-top: calc(50% - 50px);*/
    font-size: 50px;
}

#continueMessage {
    /*margin-top: calc(50% + 50px);*/
    font-size: 20px;
}
#header {
    font-family: 'MyHeaderFont', Fallback, sans-serif;
    height: 35px;
    width: 100%;
    float: none;
}

#headerName, #headerContact, #middleOptions {
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 35px;
}
#headerName {
    float: left;
}
#headerContact {
    float: right;
}

#middleOptions {
    position: absolute;
    margin-left: 50%;
    height: 35px;
}
#headerItem, #dropItem {
    float: left;
    display: block;
    color: grey;
    font-size: 20px;
    text-align: left;
    padding: 14px 16px;
}
#headerItem:hover {
    color: lightgray;
}

#dropDownLinkedIn:hover, #dropDownGithub:hover, #dropDownEmail:hover {
    color: lightgray;
}

/* This is used for the gradient background of the bot section */


@-webkit-keyframes AnimationName {
    0%{background-position:97% 0%}
    50%{background-position:4% 100%}
    100%{background-position:97% 0%}
}
@keyframes AnimationName {
    0%{background-position:97% 0%}
    50%{background-position:4% 100%}
    100%{background-position:97% 0%}
}

#botBox {
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: #0066ff;
    width: 350px;
    box-shadow: 0px 0px 70px;
    border-radius: 25px;
}

#botHeader {
    height: 50px;
    width: 100%;
    margin:auto;
    text-align: center;
    padding:5px;
    font-family: 'MyHeaderFont', Fallback, sans-serif;
    font-size: 30px;
    color: white;
}

#botContent {
    margin-left: 20px;
    margin-right: 20px;
    height: 200px;
    margin-bottom: 50px;
    background-color: white;
}

#botConversation {
    overflow-y : scroll;
    background: white;
}

#inputBox {
    position: fixed;
    bottom: 0;
    margin-bottom: 20px;
    margin-right: 20px;
}

/*#dropbtn {*/
    /*background-color: #4CAF50;*/
    /*color: white;*/
    /*padding: 16px;*/
    /*font-size: 16px;*/
    /*border: none;*/
    /*cursor: pointer;*/
/*}*/

/*#dropbtn:hover, #dropbtn:focus {*/
    /*background-color: #3e8e41;*/
/*}*/

/*.dropdown {*/
    /*position: relative;*/
    /*display: inline-block;*/
/*}*/

/*.dropdown-content {*/
    /*display: none;*/
    /*position: absolute;*/
    /*background-color: #f9f9f9;*/
    /*min-width: 160px;*/
    /*overflow: auto;*/
    /*box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
/*}*/

/*.dropdown-content a {*/
    /*color: black;*/
    /*padding: 12px 16px;*/
    /*text-decoration: none;*/
    /*display: block;*/
/*}*/

/*.dropdown a:hover {background-color: #f1f1f1}*/

/*.show {display:block;}*/
