/* This is for the header options */

@font-face {
    font-family: 'MyHeaderFont';
    src: url('./fonts/bearhugs.ttf') format('woff2')
    /*url('./fonts/antebras.ttf')  format('truetype')*/
}

#header {
    font-family: 'MyHeaderFont', Fallback, sans-serif;
    height: 35px;
    width: 100%;
    float: none;
}

#headerName, #headerContact {
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 35px;
    display: inline;
}
#headerName {
    float: left;
}
#headerContact {
    float: right;
}

#middleOptions {
    display: block;
    left: 50%;
}
#headerItem {
    height: 100%;
    float: left;
    display: block;
    color: grey;
    font-size: 20px;
    text-align: center;
    padding: 14px 16px;
}
#headerItem:hover {
    color: lightgray;
}

/* Bot section of the homepage */
#botBox {
    margin-top: 25px;
    border-style: solid;
}
#content {
    background-color: blue;
    height: 300px;
    padding: 25px;
}

#question {
    display: block;
    margin: 10px auto;
}

#submit {
    display: block;
    margin: 0 auto;
}
