/* This is for the header options */

@font-face {
    font-family: 'MyHeaderFont';
    src: url('./fonts/bearhugs.ttf') format('woff2')
    /*url('./fonts/antebras.ttf')  format('truetype')*/
}

@font-face {
    font-family: 'MyBotFont';
    src:url('./fonts/HelloBoomerang.ttf')
}

#header {
    font-family: 'MyHeaderFont', Fallback, sans-serif;
    height: 35px;
    width: 100%;
    float: none;
}

#headerName, #headerContact, #middleOptions {
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 35px;
}
#headerName {
    float: left;
}
#headerContact {
    float: right;
}

#middleOptions {
    position: absolute;
    margin-left: 50%;
}
#headerItem {
    float: left;
    display: block;
    color: grey;
    font-size: 20px;
    text-align: center;
    padding: 14px 16px;
}
#headerItem:hover {
    color: lightgray;
}

/* This is used for the gradient background of the bot section */


@-webkit-keyframes AnimationName {
    0%{background-position:97% 0%}
    50%{background-position:4% 100%}
    100%{background-position:97% 0%}
}
@keyframes AnimationName {
    0%{background-position:97% 0%}
    50%{background-position:4% 100%}
    100%{background-position:97% 0%}
}

#botBox {
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: #0066ff;
    width: 350px;
    box-shadow: 0px 0px 70px;
    border-radius: 25px;
}

#botHeader {
    height: 50px;
    width: 100%;
    margin:auto;
    text-align: center;
    padding:5px;
    font-family: 'MyHeaderFont', Fallback, sans-serif;
    font-size: 30px;
    color: white;
}

#botContent {
    margin-left: 20px;
    margin-right: 20px;
    height: 200px;
    margin-bottom: 50px;
    background-color: white;
}

#botConversation {
    overflow-y : scroll;
    background: white;
}

#inputBox {
    position: fixed;
    bottom: 0;
    margin-bottom: 20px;
    margin-right: 20px;
}
